# Content
1. Import Libraries
2. Import Data
3. Data Consistency
    - mixed-type 
    - missing 
    - duplicates
    - exporting
4. Task

# 01 Importing Libraries

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 02 Importing Data

In [3]:
path = r'C:\Users\tlayt\OneDrive\Documents\CF Data Analytics\Acheivement 4\Instacart Basket Analysis'

In [4]:
#import product data
df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [5]:
#importing orders data 
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [6]:
#dropping column
df_ords = df_ords.drop(columns = ['eval_set'])

# 03 4.5 Data consistency Lesson

In [7]:
# Create a dataframe
df_test = pd.DataFrame()

In [8]:
# Create a mixed type column 
df_test['mix']=['a','b',1,True]

In [9]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [10]:
# checking for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [12]:
# changing mix tyoe to string
df_test['mix'] = df_test['mix'].astype('str')

In [14]:
#finding missing data values
df_prod.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [15]:
#subset of missing data
df_nan = df_prod[df_prod['product_name'].isnull()==True]

In [16]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [17]:
df_prod.shape

(49693, 5)

In [19]:
# new df with no missing prod names
df_prods_clean = df_prod[df_prod['product_name'].isnull() == False]

In [20]:
df_prods_clean.shape

(49677, 5)

In [21]:
#finding full duplicates 
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [22]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [23]:
df_prods_clean.shape

(49677, 5)

In [24]:
#new df with no dups 
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [26]:
df_prods_clean_no_dups.shape

(49672, 5)

In [27]:
#exporting df_prods_clean_no_dups
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# 04 4.5 Task

In [28]:
# Q2 
df_ords.describe()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### Q2 Order_id and User_is are strings/identifiers so I am not focusing on those descriptive stats. One thing to note is under order_id it says a count of 3421083 and the max orders is the same things indicatingt here are no missing order ids. Under order_number teh max is a little suspicious of 100. the mean and SD is 17 so 100 is more than 3* SD from the mean or median indicating 100 orders may be an outlier or an error in reporting. DOW looks fine with 7 values. Same wiht hours_of _day with only 24 hrs. Same with days-since_prior_order it seems fine. Additionally there are no negative anywhere, which is good.

In [30]:
#Q3 checking for mixed type data 
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

In [31]:
# Q4 I did not find any mixed data types?

In [32]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [33]:
# Q5 
df_ords.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### Q5 the missing values or NaN values in days_since_prior_order would indicate new customers or the first time they ordered. They would have no prior order date as this would be thier first time ordering.

In [34]:
# Q6 making new subset of new customers (missing data from days_since_prior_order)
df_first_order = df_ords[df_ords['days_since_prior_order'].isnull()==True]

###  Q6 I used the method of making a subset of this group because it could be used for further analysis in the future such as is there a time of day when first time orderers order. This is important data to not drop. This also allows for separation of repeat vs 1st time orders. I also created a subgroup of only repeat customers - those who have ordered more than once.

In [35]:
# New subgroup of only repeat customers 
df_orders_repeat_cust_only = df_ords[df_ords['days_since_prior_order'].isnull() == False]

In [36]:
# Q7 checking for dups in ords
df_ords_dups = df_ords[df_ords.duplicated()]

In [39]:
df_ords_dups

Empty DataFrame
Columns: [order_id, user_id, order_number, order_dow, order_hour_of_day, days_since_prior_order]
Index: []

### Q8 I did not find any dup values in the orders data. (??)

## Exporting task files

In [40]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_checked.csv'))

In [41]:
df_first_order.to_csv(os.path.join(path, '02 Data','Prepared Data', 'first Orders_checked.csv'))

In [42]:
df_orders_repeat_cust_only.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Repeat_cust_ords_checked.csv'))